---
import { Button } from "~/components/ui/button";

interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<section
    id="contact"
    class:list={[
        "bg-foreground text-background rounded-4xl p-14 flex items-center justify-between flex-col gap-11",
        className,
    ]}
>
    <p class="text-center text-3xl [&>span]:underline [&>span]:font-bold">
        If you’re looking for a <span>product designer</span> or just want to chat
        about ideas, feel free to <span>drop me a message</span>. I’m always
        happy to connect.
    </p>
    <Button
        variant={"secondary"}
        className="rounded-full py-2.5 px-20 text-base font-bold"
    >
        <a href="mailto:example@email.com">Let's talk</a>
    </Button>
</section>
