---
import type { Width, GalleryRow } from "~/types/gallery";

interface Props {
    class?: string;
    rows: GalleryRow[];
}

const { class: className, rows } = Astro.props;

const widthClasses: Record<Width, string> = {
    "1/6": "w-1/6",
    "2/6": "w-2/6",
    "3/6": "w-3/6",
    "4/6": "w-4/6",
    "5/6": "w-5/6",
    "1/5": "w-1/5",
    "2/5": "w-2/5",
    "3/5": "w-3/5",
    "4/5": "w-4/5",
};
---

<section id="gallery" class:list={["gallery", className]}>
    {
        rows.map((row) => (
            <div class="gallery-row">
                <div class:list={["gallery-item", widthClasses[row[0].width]]}>
                    <img src={row[0].src} alt={row[0].alt} />
                </div>
                <div class="gallery-item flex-1">
                    <img src={row[1].src} alt={row[1].alt} />
                </div>
            </div>
        ))
    }
</section>

<style>
    .gallery {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .gallery-row {
        display: flex;
        gap: 1rem;
        height: 3.5rem;
    }

    @media (min-width: 640px) {
        .gallery-row {
            height: 6rem;
        }
    }

    @media (min-width: 768px) {
        .gallery-row {
            height: 8rem;
        }
    }

    .gallery-item {
        border-radius: 0.75rem;
    }

    @media (min-width: 768px) {
        .gallery-item {
            border-radius: 2rem;
        }
    }
</style>
