---
import Button from "~/components/starwind/button/Button.astro";
import { Download } from "@lucide/astro";

interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<Button
    class:list={["font-bold cursor-pointer", className]}
    href="/files/cv.pdf"
    download
>
    <Download /><span>Download CV</span>
</Button>
