---
import { Button } from "~/components/ui/button";
import { Download } from "@lucide/astro";
---

<Button className="w-full cursor-pointer">
    <a
        href="/files/cv.pdf"
        download
        class="flex items-center gap-2 font-bold"
    >
        <Download />Download CV
    </a>
</Button>
