---
import Layout from "../layouts/Layout.astro";
import Badges from "../components/sections/Badges.astro";
import Gallery from "../components/sections/Gallery.astro";
import Introduction from "../components/sections/Introduction.astro";
---

<Layout>
    <div class="px-4 py-2 sm:px-8 sm:py-4 lg:p-0">
        <Introduction />
        <Badges />
        <Gallery class="mt-24" />
    </div>
</Layout>
