---
import Layout from "~/layouts/Layout.astro";
import Badges from "~/components/sections/Badges.astro";
import Gallery from "~/components/sections/Gallery.astro";
import Introduction from "~/components/sections/Introduction.astro";
import { gallery } from "~/data/home";
---

<Layout>
    <div class="px-4 py-2 sm:px-8 sm:py-4 lg:p-0">
        <Introduction />
        <Badges class="mt-6" />
        <Gallery class="mt-24" rows={gallery} />
    </div>
</Layout>
