---
import MainLayout from "~/layouts/Main.astro";
import Badges from "~/components/sections/Badges.astro";
import Gallery from "~/components/sections/Gallery.astro";
import Introduction from "~/components/sections/Introduction.astro";
import Work from "~/components/sections/Work.astro";
import { gallery } from "~/data/home";
import About from "~/components/sections/About.astro";
import Contact from "~/components/sections/Contact.astro";
---

<MainLayout>
    <div class="px-4 py-2 sm:px-8 sm:py-4 lg:p-0">
        <Introduction />
        <Badges class="mt-6" />
        <Gallery class="mt-24" rows={gallery} />
        <Work class="mt-24" />
        <About class="mt-24" />
        <Contact class="mt-24" />
    </div>
</MainLayout>
