---
import "~/styles/global.css";
import DesktopNav from "~/components/navigation/DesktopNav.astro";
import MobileNav from "~/components/navigation/MobileNav.astro";
import Footer from "~/components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Elisabet Osuna - Product Designer</title>
    </head>
    <body class="min-h-screen">
        <div
            class="mx-auto max-w-432 lg:flex lg:flex-row lg:p-8 xl:p-16 2xl:p-24 lg:gap-16 xl:gap-24 2xl:gap-36"
        >
            <!-- Mobile header bar -->
            <header class="lg:hidden py-4 px-6 top-0 sticky bg-background">
                <MobileNav />
            </header>
            <div class="px-4 py-2 sm:px-8 sm:py-4 lg:p-0">
                <!-- Desktop sidebar -->
                <aside
                    class="hidden lg:flex lg:w-60 lg:shrink-0 flex-col sticky top-8"
                >
                    <DesktopNav />
                </aside>
            </div>
            <main class="flex-1">
                <slot />
            </main>
        </div>
        <Footer />
    </body>
</html>
